* {
    box-sizing: border-box;
}

body {
    background-color: #44318D;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;

}

h1 {
    color: white;
    font-size: 50px;
}

.h2News {
    font-size: 35px;
}

/* -------- Header Styles --------*/

header {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
}



header a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    border-radius: 8px;
    padding: 10px;

}

header a:visited {
    color: black;
}

/* -------- Footer Styles -------*/

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: black;
    margin-top: 20px;
    background-color: white;
    position: absolute;
    bottom: 0;
}

/* -------- Form styles ---------*/

@media only screen and (max-width: 767px){
    form input {
        height: 50px;
        width: 280px;
        text-align: center;
        font-size: 18px;
        border-radius: 30px;
        border: 2px;
    }

    form button {
        margin-top: 15px;
        width: 90px;
        padding: 10px;
        color: black;
        font-size: 15px;
        border-radius: 8px;
        border: 2px;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 768px){

form input {
    height: 50px;
    width: 380px;
    text-align: center;
    font-size: 20px;
    border-radius: 30px;
    border: 2px;
}

form button {
    margin-top: 15px;
    width: 120px;
    padding: 10px;
    color: black;
    font-size: 15px;
    border-radius: 8px;
    border: 2px;
}
}

form button:focus, form input:focus {
    outline: none;
}

/* -------- Results Styles --------*/

#results {
    margin-top: 5px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#errorMessage {
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

#totalCasesDiv, #totalRecoveredDiv, #totalDeathsDiv {
    margin: 10px 50px;
}

#totalCases, #totalRecovered, #totalDeaths {
    font-weight: bold;
}


#worldTotal {
    font-size: 30px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.virus, .virusSlash, .skull {
    font-size: 70px;
}

#info {
    display: flex;
    flex-flow: row wrap;
}

#p404 {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------- Lang Section --------*/

#lang {
    display: flex;
    align-items: stretch;
}

#lang img {
    width: 50px;
    padding: 5px;
}

#lang img:hover {
    cursor: pointer;
}

.active {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
}

/*the container must be positioned relative:*/
.autocomplete {
    position: relative;
    display: inline-block;
  }
  
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  
  input[type=text] {
    background-color: #f1f1f1;
    width: 50%;
  }
  
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
  }
  
  .autocomplete-items {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: absolute;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 120%;
    left: 0;
    right: 0;
    color: black;
    justify-content: center;
    align-items: center;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
    width: 50%;
  }
  
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }

  #searchautocomplete-list {
      width: 50%;
  }
